<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>AI Detector</h1>
        <form id="uploadForm">
            <div class="input-section">
                <input type="file" name="file" id="imageInput" accept="image/*">
                <img id="imagePreview" src="#" alt="Image Preview" style="display:none;">
                <button type="submit" id="predictButton">Predict</button>
            </div>
        </form>
        <div id="loading" class="loading">Loading...</div>
        <div id="result" class="result"></div>
        <button id="tryAgainButton" class="try-again" style="display:none;" onclick="window.location.reload();">Try Again</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
